@mixin center_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$padding_nav: 15px;

$height_footer: 125px;
$shadow_outside: #121212c5;
$shadow_inside: rgba(0, 0, 1, 0);

html {
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  html{
 
  }
  body {
    background-color: #04081149;
    .main {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #0d0f11a1;
      color: white;
      & > * {
        // background-color: #11121533;
      }
      .section_profile {
        max-width: 1100px;
        margin: 0 auto;
        min-height: 100vh;
        display: grid;
 
        margin: 0 auto;
        // grid-template-rows: $height_header 1fr $height_footer;
        // grid-template-columns: 1fr 4fr;q
        grid-template-areas: "header header header header header"
        "navbar content content content content"
        "footer footer footer footer footer";
        gap: 0px;
        .header {



          #header-logo {

          }
          background-color: #282c34;
        }
        .nav {
          grid-column: 1/2;
          padding: $padding_nav;
          background-color: rgba(9, 1, 29, 0.324);
          ul.nav-ul {
            li.nav-item {
              transform: perspective(100px) rotateX(20deg);
              box-shadow: -4px 4px 0 $shadow_outside;
              text-align: center;
              padding: 1ch;
              margin: 2.5ex;
              border: 1px solid rgb(0, 0, 0);
              cursor: pointer;
              &:hover,
              &:focus {
                transform: perspective(100px) rotateX(20deg) translate(-4px,4px);
                box-shadow: 0 0 0 $shadow_inside;
              }
              a.user-a {
                width: 100%;
                text-transform: capitalize;
                color: rgb(176, 156, 203);
                font-weight: 600;
                font-size: 1.1rem;
                text-shadow: 2px 3px 7px #00295c;
              }
            }
          }
        }
        .article_profile_content {
          grid-area: content;
          background-color: green;
        }
        .footer {
          grid-column: 1/3;

          display: grid;
          align-items: center;
          text-align: center;

          background-color: #282c34;
        }
      }
    }
  }
}
